 body{
    margin:10px;
    display: flex;
    flex-wrap: wrap;

}

header{
    order: -1;
    flex-basis: 100%;
}
footer{
    order: 99999999;
    flex-basis: 100%;
}

#navigation{
    order: 1;

} 
#nav-articles{
    flex-direction: column;
    background-color: antiquewhite

    
}
main{
    flex-basis: 80%;
    margin: 10px;
}

article{
   display: flex;
   flex-wrap: wrap;
}
article nav{
    flex-direction: column;
    flex-basis:20%;
    order: 1;
}

article h2{
    order:2;
    flex-basis:100%;
    
}

article section{
    flex-basis:80%;
    order:3;
    flex-direction: column;
    flex-wrap: wrap;
}
section{
    justify-content: flex-end;
    
} 
